/*Root Selector*/
:root{
    --registration-black: #000500;
    --alabaster: #F3EFE0;
    --zinnwaldite-brown: #281B11;
    --cal-poly-pomona-green: #2F4B26;
    --quick-silver: #A2A1A4;
    --black-leather-jacket: #23371C;
    --jet: #333138;
}

html {
    font-family: 'Roboto', sans-serif;
    background: url(../images/map.jpg) no-repeat center center fixed;
    background-color: var(--black-leather-jacket);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    margin: 0;
    padding: 2em;
}


.title{
    color: var(--zinnwaldite-brown);
    font-size: 42px;
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.squirrel-picture{
    width: 50%;
    background-color: var(--cal-poly-pomona-green);
    border: 3px solid var(--registration-black);
}

div{
    color: var(--alabaster);
}
.wrapper {
    display : flex ;
    flex-flow : row wrap ;
    font-weight : bold ;
    text-align : center ;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 20px;
}
.wrapper > * {
    padding : 10px ;
    flex : 1 100%;
}

.col{
    float: left;
    width: 50%;
}

@media screen and (max-width: 600px){
    .row{
        display: flex;
        flex-flow: column;
    }
    .col{
        float: left;
        width: 100%;
    }
    .aside-game{
        order: 1;
    }
    .page-content-container{
        order: 2;
    }
    .start-game{
        order: 3;

    }
    .footer{
        order: 4;
    }
}

.header{
    background : var(--jet) ;
}

.footer {
    background : var(--jet) ;
}
.page-content-container {
    min-height: 300px;
    text-align : left ;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--cal-poly-pomona-green)
}

#text {
    text-align: center;
}

.contact{
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    background-color: var(--cal-poly-pomona-green);
}
/*Aside (Game)*/
.aside-game {
    background : var(--black-leather-jacket) ;
}
/*Menu-bar*/
.menu_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--jet);
}
.menu_li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--registration-black);
}

@media all and (min-width : 100px ) {
    .aside { flex : 1 0 0; }
}
@media all and (min-width : 600px ) {
    .page-content-container { flex : 4 0px ; }
    .aside-game { order : 1; }
    .page-content-container { order : 2; }
    .footer { order : 3; }
}
/*Game Buttons (Options)*/
.btn{
    background-color: var(--zinnwaldite-brown);
    border: 1px solid var(--zinnwaldite-brown);
    border-radius: 7px;
    padding: 20px 10px;
    color: var(--alabaster);
    outline: none;
}

.btn:hover{
    background-color: var(--registration-black);
    border: 1px solid var(--registration-black);
    cursor: pointer;
}
.btn-grid{
    margin-left: 13%;
    margin-right: 13%;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 15px;
    margin-top: 12px;
}

/*Contact Form*/
.form-control{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: var(--alabaster);
    font-size: 18px;
    margin-bottom: 16px;
}

form .submit{
    background: var(--zinnwaldite-brown);
    border-color: transparent;
    color: var(--alabaster);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 40px;
    margin-top: 20px;
}

form .submit:hover{
    background-color: var(--registration-black);
    cursor: pointer;
}

/*Placeholder Text for Contact-Page*/
/*Chrome, Firefox, Opera, Safari*/
::placeholder{
    color: var(--alabaster);
    opacity: 0.8; /*Firefox*/
}
/*IE 10-11*/
:-ms-input-placeholder{
    color: var(--alabaster);
}
/*MS-Edge*/
::-ms-input-placeholder{
    color: var(--alabaster);
}