:root {
    --main_textcolor: whitesmoke;
}

/**
Menu bar
 */
.menu_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/**
prevents horizontal scrolling.
 */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.menu_li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/***************/
body{
    background-color: grey;
    background-image: url("../images/planet-1702788_1280_2.png");
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    color:var(--main_textcolor);
}

#game-span{

}

#text{
    color: var(--main_textcolor);
}

/**
js-container
 */

*, *::before, *::after{
    box-sizing: border-box;
}

.page-content-container{
    width: 400px;
    max-width: 75%;
    background-color: #000137;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin-top: 12px;
}
.btn{
    background-color: hsl(0, 2%, 47%);
    border: 1px solid hsl(0, 2%, 47%);
    border-radius: 5px;
    padding: 10px 10px;
    color: var(--main_textcolor);
    outline: none;
}

.btn:hover{
    border-color:black;
}

.todo{
    color:yellow;
}